<div id="antigen_form" hidden>
    <!-- Largo -->
    <div class="mb-4" id="div_largo_antigen">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="grid-state">
            Lenght
        </label>
        <div class="relative">
            <small>Length range between: <br>
                <b id="antigen_slider_val1">
                    <!-- min -->
                </b> and <b id="antigen_slider_val2">
                    <!-- max -->
                </b> residues
            </small>
            <br>
            <input class="ex2" id="antigen_slider_input" type="text" class="span2" />
        </div>
    </div>
    <hr>
    <!-- Pfam y GO -->
    <div id="form_pfam_go">
        <div class="mb-4 div_pfam">
            <label class="block text-gray-700 text-sm font-bold mb-2">Pfam Domain</label>
            <select
                class="pfam_input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="pfam_input_antigen">
                <option></option>
            </select>
        </div>
        <div class="mb-4 div_bgo">
            <label class="block text-gray-700 text-sm font-bold mb-2">Biological Process</label>
            <select
                class="bp_input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="bp_input_antigen">
                <option></option>
            </select>
        </div>
        <div class="mb-4 div_mgo">
            <label class="block text-gray-700 text-sm font-bold mb-2">Molecular Function</label>
            <select
                class="mf_input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="mf_input_antigen">
                <option></option>
            </select>
        </div>
        <div class="mb-4 div_cgo">
            <label class="block text-gray-700 text-sm font-bold mb-2">Celular Component</label>
            <select
                class="cc_input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="cc_input_antigen">
                <option></option>
            </select>
        </div>
    </div>
    <hr>
    <!-- Structure -->
    <div id="structure_form">
        <div class="mb-4" id="div_estructura">
            <label class="block">
                <input class="mr-2 leading-tight checkbox_structure" type="checkbox" id="checkbox_structure_antigen">
                <span class="text-sm">Has PDB structure</span>
            </label>
        </div>
        <div class="mb-4 div_pdb" id="div_pdb_antigen" hidden>
            <label class="block text-gray-700 text-sm font-bold mb-2">PDB ID</label>
            <select
                class="pdb_input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="pdb_input_antigen">
                <option></option>
            </select>
        </div>
    </div>
    <hr>
    <!-- Has epitope -->
    <div class="mb-4" id="div_epitope">
        <label class="block">
            <input class="mr-2 leading-tight" type="checkbox" id="checkbox_epitope">
            <span class="text-sm">Has epitope reported</span>
        </label>
    </div>
    <hr>
    <!-- Interaction -->
    <div id="interaction_form">
        <div class="mb-4 div_interaction">
            <label class="block">
                <input class="checkbox_relation mr-2 leading-tight" type="checkbox" id="checkbox_relation_antigen">
                <span class="text-sm">Has interaction</span>
            </label>
        </div>
        <div class="mb-4 div_relation_id" id="div_relation_antigen" hidden>
            <label class="block text-gray-700 text-sm font-bold mb-2">Interaction</label>
            <select
                class="interaction_input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="interaction_input_antigen">
                <option></option>
            </select>
        </div>
    </div>
    <hr>
</div>