<div id="form_pfam">
    <div class="mb-4 div_pfam">
        <label class="block text-gray-700 text-sm font-bold mb-2">Pfam Domain</label>
        <select
            class="pfam_input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <option></option>
        </select>
    </div>
    <div class="mb-4 div_bgo">
        <label class="block text-gray-700 text-sm font-bold mb-2">Biological Process</label>
        <select
            class="bp_input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <option></option>
        </select>
    </div>
    <div class="mb-4 div_mgo">
        <label class="block text-gray-700 text-sm font-bold mb-2">Molecular Function</label>
        <select
            class="mf_input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <option></option>
        </select>
    </div>
    <div class="mb-4 div_cgo">
        <label class="block text-gray-700 text-sm font-bold mb-2">Celular Component</label>
        <select
            class="cc_input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <option></option>
        </select>
    </div>
</div>