<div id="interaction_form">
    <div class="mb-4 div_interaction" >
        <label class="block">
            <input class="checkbox_relation mr-2 leading-tight" type="checkbox">
            <span class="text-sm">Has interaction</span>
        </label>
    </div>
    <div class="mb-4 div_relation_id" hidden>
        <label class="block text-gray-700 text-sm font-bold mb-2">Interaction</label>
        <select
            class="interaction_input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <option></option>
        </select>
    </div>
</div>