<div class="mb-4 div_largo">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="grid-state">
      Lenght
    </label>
    <div class="relative">
      <label for="ex2">Filter by sequence lenght interval:</label><br>
      <small class="ex2CurrentSliderValLabel">The selected sequence length range is between: <br>
        <b class="ex2SliderVal1"><!-- min --></b> and <b class="ex2SliderVal2"><!-- max --></b> residues
      </small>
      <br>
      <input type="text" class="span2 ex2"/>
    </div>
  </div>