<%- include('partials/head'); -%>
<!-- Js -->
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<!-- Css -->
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<link href="/css/profile.css" rel="stylesheet">
<body>
    <%- include('partials/nav'); -%>
</body>
<script type="text/javascript" charset="utf8" src="/js/profileBase.js"></script>